body.wcal-modal-open {
  overflow: hidden; 
}

.wcal-modal {
  z-index: 100000;
  width: 54%;
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 93%;
  max-height: 80%; 
}
body.wcal-modal-loading .wcal-modal:before {
  height: 24px;
  width: 24px;
  display: block;
  position: absolute;
  top: 75%; 
  left: 50%;
  margin-left: -12px;
  margin-top: -12px;
  -webkit-animation: spin .8s linear infinite;
          animation: spin .8s linear infinite;
  content: "";
  background: url("../../images/loader.svg") center center;
  background-size: cover;
  line-height: 1;
  text-align: center;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.75);
  z-index: 10; 
}
body.wcal-modal-loading .wcal-modal  {
  /*opacity: 0.4;*/ 
}
.wcal-modal .wcal-icon-close {
  text-align: center;
  line-height: 29px;
  width: 53px;
  height: 53px;
  position: absolute;
  top: 0;
  right: 0;
  color: #666;
  cursor: pointer;
  border-left: 1px solid #E1E1E1; 
 
}
.wcal-modal .wcal-icon-close:before {
  font-size: 23px;
  font-family: dashicons;
  line-height: 53px;
  speak: none;
  -webkit-font-smoothing: antialiased;
  content: "\f335"; 
}
.wcal-modal .wcal-icon-close:hover {
  background: #f5f5f5;
  color: #000000; 
  border-radius: 0px 10px 0px 0px;
}
.wcal-modal h2 {
  font-size: 1.4em; 
}
.wcal-modal h3 {
  font-size: 1.2em; 
}

.wcal-modal__contents {
  background-color: #f5f5f5;
  min-height: 230px;
  border-radius: 10px 10px 10px 10px; 
}

.wcal-modal-overlay {
  background: #000;
  opacity: 0.7;
  filter: alpha(opacity=70);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100000; 
}

.wcal-modal__header {
  height: 53px;
  background: #ffffff;
  border-bottom: 1px solid #E1E1E1;
  box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.1); 
  border-radius: 10px 10px 0px 0px ;
}
.wcal-modal__header h1 {
  padding: 0 18px;
  font-size: 19px;
  line-height: 53px;
  margin: 0; 
  float: left;
}

.wcal-modal__header h5 {
  padding: 0;
  font-size: 12px;
  line-height: 53px;
  margin: 0; 
  float: left;
}

.wcal-modal__footer {
  box-sizing: border-box;
  background: #ffffff;
  border-top: 1px solid #E1E1E1;
  box-shadow: 0 -4px 4px -4px rgba(0, 0, 0, 0.1);
  padding: 14px 18px;
  min-height: 50px;
  border-radius: 0px 0px 10px 10px ;      

}
.wcal-modal__footer.button {
  width: 100%;
  float: left; 
  margin-left: 3px; 
}

.wcal-modal__footer.button {

}

.wcal-modal__body {
  overflow: auto;
  min-height: 130px; 
}
.wcal-modal__body hr {
    margin: 17px 0;
    border: none;
    border-bottom: 1px solid #E1E1E1; 
}
.wcal-modal__body ul {
  margin: 17px 0 17px; 
}

.wcal-modal__body-inner {
  margin: 17px 18px 22px; 
}

.wcal-cart-table {
  background: transparent;
  width: 100%;
  text-align: left;
  border: 1px solid #ccc;
  border-bottom: none;
  border-right: none;
  margin: 20px 0; 
}

.wcal-cart-table th, .wcal-cart-table td {
  padding: 11px 14px;
  vertical-align: top;
  border: none;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc; 
}

.wcal-modal-cart-content {
  background: transparent;
  width: 100%;
  margin: 20px 0; 
  min-height: 130px;
}

.wcal-modal-cart-content th, .wcal-modal-cart-content td {
  padding: 11px 14px;
  vertical-align: top;
  text-align: center;
  border: none;
  border-top: 1px solid #ccc;
}

.wcal-modal h2 {
  text-align: center;
}

.wcal-modal-email-content {
  background: transparent;
  width: 100%;
  margin: 20px 0; 
}

.wcal-modal-email-content th, .wcal-modal-email-content td {
  padding: 11px 14px;
  vertical-align: top;
  text-align: center;
  border: none;
  border-top: 1px solid #ccc;
}

.wcal-modal-cart-content-hide{
  background: #f5f5f5;
  width: 100%;
  min-height: 130px;
  border-radius: 0px 0px 10px 10px;
}
.wcal-modal .wcal-icon-close-footer {
  text-align: center;
  float: right;

}

/*Change the color of the status on abandoned order page*/
#wcal_status_modal_abandoned{
  background-color: green;
  color: #fff;
  padding: 3px;
  font-weight: bold;
  float: left;
  position: relative;
  margin-top: 15px;
}
#wcal_status_modal_abandoned_new{
  background-color: #e45d1e;
  color: #fff;
  padding: 3px;
  font-weight: bold; 
  float: left;
  position: relative;
  margin-top: 15px;
}
.wcal_modal_customer_all_details{
  display: none;
  width: 70%;
}
#wcal_unsubscribe_link_modal{
  background-color: #EA4335;
  color: #fff;
  padding: 3px;
  font-weight: bold; 
  float: left;
  position: relative;
  margin-top: 15px;
}
#wcal_status_unpaid_order{
  background-color: grey;
  color: #fff;
  padding: 3px;
  font-weight: bold;
  float: left;
  position: relative;
  margin-top: 15px;
}